.container {
    border: 2px solid #a2a2a6;
    border-top-color: rgb(162, 162, 166);
    border-top-style: solid;
    border-top-width: 2px;
    border-right-color: rgb(162, 162, 166);
    border-right-style: solid;
    border-right-width: 2px;
    border-bottom-color: rgb(162, 162, 166);
    border-bottom-style: solid;
    border-bottom-width: 2px;
    border-left-color: rgb(162, 162, 166);
    border-left-style: solid;
    border-left-width: 2px;
    border-image-outset: 0;
    border-image-repeat: stretch;
    border-image-slice: 100%;
    border-image-source: none;
    border-image-width: 1;

    padding: 10px;
    padding-top: 10px;
    padding-right: 10px;
    padding-bottom: 10px;
    padding-left: 10px;

    margin: 10px auto;
    margin-top: 10px;
    margin-right: auto;
    margin-bottom: 10px;
    margin-left: auto;
}

.cool-blue {
    background-color: #2d5dcc;
    color: #fff;
}

.pink {
    background-color: #d957d9;
    color: #fff;
}

.mint-green {
    background-color: #4fe0b0;
    color: #fff;

}

.beige {
    background-color: #efd9ca;
    color: #fff;

}

.color-panel.cool-blue {
    display: inline-block;
    width: 32%;
    text-align: center;
    margin: 20px auto;
    min-height: 100px;
}

.color-panel.pink {
    display: inline-block;
    width: 32%;
    text-align: center;
    margin: 20px auto;
    min-height: 100px;
}

.color-panel.mint-green {
    display: inline-block;
    width: 32%;
    text-align: center;
    margin: 20px auto;
    min-height: 100px;
}

.color-panel.beige {
    display: inline-block;
    width: 32%;
    text-align: center;
    margin: 20px auto;
    min-height: 100px;
}

body {
    font-family: 'Courier New', Courier, monospace;
    margin: 0 10%;
    margin-top: 0px;
    margin-right: 10%;
    margin-bottom: 0px;
    margin-left: 10%;

}

.font-panel {
    width: 45%;
    display: inline-block;
}

.font-label {
    font-size: 20px;
    text-decoration: underline;
        text-decoration-line: underline;
        text-decoration-style: solid;
        text-decoration-color: currentcolor;
       }

@font-face {
    font-family: 'roboto';
    src: url(fonts/roboto/roboto-bold.ttf) format('truetype');
    font-style: bold;
    font-weight: 700;
}

@font-face {
    font-family: 'Work-Sans';
    src: url(fonts/Work_Sans/WorkSans-Italic-VariableFont_wght.ttf);
    font-style: italic;
    font-weight: 400;

}

.h1 {
    font-family: 'roboto';
    font-weight: 700;
}

.font-panel {
    font-family: 'Work-Sans';
    font-weight: 400;
}